@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Página para ajudar no controle dos gastos com as compras do mês. Incrições quando possível vão ser abertas.</p>
